.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    align-items: space;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.p {
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 20px;
    padding: 1rem;
    font-size: medium;
}

.h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fontH1);
    text-align: center;
    font-size: 60px;
}

@media (max-width: 768px){
    .h1{
        font-size: 35px;
    }
    
}