@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --bg: #969a99;
    --bgSoft: #00f6ff;
    --grayDark: #454c47;
    --text: white;
    --bgBlack: black;
    --bgHeader: rgb(30 41 59);
    --blackGradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --fontH1: "Bebas Neue", sans-serif;
}

::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Previene desbordamiento horizontal */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgBlack);
    color: var(--text);
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1536px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
  }

@media (max-width: 1536px){
    .container{
        width: 1366px;
    }
}

@media (max-width: 1366px){
    .container{
        width: 1280px;
    }
}

@media (max-width: 1280px){
    .container{
        width: 1024px;
    }
}

@media (max-width: 1024px){
    .container{
        width: 768px;
    }
}

@media (max-width: 768px){
    .container{
        width: 640px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 640px){
    .container{
        width: 475px;
        padding-left: 5px;
        padding-right: 5px;
    }
}