.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-top: 2rem;
    max-width: 80%;
}

.image {
    position: relative; 
    margin-bottom: 20px;
  }

.imageText {
    position: absolute; 
    top: 50%; 
    left: calc(100% + 10px); 
    transform: translateY(-50%); 
    visibility: hidden;
    font-size: larger;
    width: 400px; 
    height: 250px; 
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 5px;
    padding: 1rem;
    font-size: medium;
    
}

.image {
    padding: 1rem;
}

.image:hover {
    padding-bottom: 5rem; 
    padding-top: 5rem;
}

.image:hover .imageText {
    visibility: visible;
    transition: visibility 0.3s ease;
}

.mobileImages {
    display: none;
}

.bgImage {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    position: relative;
    animation: bounceAndRotate 20s infinite;
}

.img{
    object-fit: cover;
    border-radius: 20px;
}


@media (max-width: 768px){
    .imageWrapper{
        display: none;
        visibility: hidden;
    }
    
    .mobileImages {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .imageGroup {
        display: flex;
        justify-content: center;
        gap: 10px;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 2rem;
        margin-right: 3rem;
    }
    
    .p {
        margin-top: 20px;
        font-size: medium;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 640px){
    .imageWrapper{
        display: none;
        visibility: hidden;
    }
    .mobileImages {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .imageGroup {
        display: flex;
        justify-content: center;
        gap: 10px;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 2rem;
        margin-right: 3rem;
    }
    
    .p {
        margin-top: 20px;
        font-size: medium;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@keyframes bounceAndRotate {
    0%, 100% {
      transform: translateY(0) rotateY(0deg);
    }
    25% {
      transform: translateY(-15px) rotateY(0deg);
    }
    50% {
      transform: translateY(0) rotateY(180deg); 
    }
    75% {
      transform: translateY(-15px) rotateY(180deg);
    }
  }