.container{
    background-color: var(--bgHeader);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 5px;
}

.logo{
    width: 60px;
    height: 50px;
    flex-direction: row;
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 1rem;
}

.active{
    background-color: var(--text);
    color: var(--bgBlack);
    border-radius: 30px;
    padding: 10px;
}

.mobileLinks{
    display: none;
}

.button{
    margin-right: 2rem;
    display: none;
}

@media (max-width: 768px){
    .links{
        display: none;
    }
    .mobileLinks{
        position: absolute;
        top: 270px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background-color: var(--bgHeader);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: solid;
    }
    .button{
        margin-right: 1rem;
        display: block;
        cursor: pointer;
    }
}
